.cart-icon {
  margin-left: 2rem;
  background: none;
}

.nav-menu {
  background-color: #faf9f9;
  width: 350px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
  z-index: 2;
  box-shadow: 0 0 100px rgb(171, 169, 169);

}

.nav-menu.active {
  right: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #5e5e5e;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #faf9f9;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.fa-arrow-circle-right{
    color: black;
    font-size: 1.5rem;
    padding-left: 20px;
}

.cart-header{
  margin-left: 85px;
}


/* Items in cart */
.itemsInCart-container{
  margin-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  height: 70%;
  overflow-y: scroll

}

.items-detail-containers {
  margin-bottom: 25px;
}



.items-details{
    display: flex;
    flex-direction: row;
    gap: 25px;
}


.cartItemImg{
  width: 85px;
  height: 77px;
  border-radius: 50%;
}

.item-name{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.item-price-info{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-price-info h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 0.95rem;
  margin-right: 10px;
}

.item-total-price{
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-bottom: 15px;
  gap: 15px;
  padding-right: 5px;
}

.item-total-price h3{
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}