/* TODO Add site wide styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(245, 245, 245, 0.906);
}



button:hover{
    cursor: pointer;
}

@media (max-width:500px) {

}

