.individual-product-container{
    display: flex;
    flex-direction: row;
}

.candle-pics-selections{
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    
}

.candle-pics-selections img {
    height: 110px;
    width: 120px;
    border-radius: 8%;
    margin-right: 8px;
    opacity: 0.55;
    
}

.candle-pics-selections img,
.display-candle-pic img {
    cursor: pointer
}

#selection-pic1:hover,
#selection-pic2:hover{
    opacity: 1;
    transition: 0.5s
}

.display-candle-pic{
    position: relative;
    height: 450px;
    width: 470px;
    display: flex;
    overflow: hidden;
    border-radius: 20px;
}

.display-candle-pic img {
    position: absolute;
    height: inherit;
    width: inherit;
    object-fit: cover;
    transition: 0.5s;
}

.display-candle-pic:hover img{
    transform: scale(1.4)
}



