@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Noto+Sans+Display&family=Readex+Pro:wght@300&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans Display', sans-serif;
font-family: 'Readex Pro', sans-serif; */

.individual-product-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 75%;
    margin: auto;
}

.individual-product-container{
    margin-top: 80px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: row;

}

/* candle picture selection tiny icon */

.candle-pics-selections{
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    
}

.candle-pics-selections img {
    height: 90px;
    width: 100px;
    border-radius: 13%;
    margin-right: 8px;
    opacity: 0.55;
    
}

.candle-pics-selections img,
.display-candle-pic img {
    cursor: pointer
}

/* main displayed candle image */

#selection-pic1:hover,
#selection-pic2:hover{
    opacity: 1;
    transition: 0.5s
}

.display-candle-pic{
    position: relative;
    height: 460px;
    width: 470px;
    display: flex;
    overflow: hidden;
    border-radius: 20px;
}

.display-candle-pic img {
    position: absolute;
    height: inherit;
    width: inherit;
    object-fit: cover;
    transition: 0.5s;
}

.display-candle-pic:hover img{
    transform: scale(1.4)
}


/* product details  */
.individual-product-details {
    padding-left: 5rem;
}

.product-name-h1 {
    font-family: 'Montserrat', sans-serif;
}

.product-special-h2 {
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 1rem;
    margin-bottom: 10px;
}

.product-price-h3{
    margin-top: 10px;
    font-size: 1.30rem;
}

.productDescription{
    font-family: 'Noto Sans Display', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    word-spacing: 3px;
}

.fragrance{
    font-family: 'Montserrat', sans-serif;
}

.fragrance-scent{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 0.9rem;
    margin-top: 5px;
    word-spacing: 3px;
    letter-spacing: 1px
}