.productsPages{
    /* display: flex;
    justify-content: center; */
}

.productsPages-main{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.products-item-container{
    width: 70%;
}

.products-item-img{
    height: 16rem;
    width: 18rem;
    object-fit: cover
}

.products-item-square{
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.products-item-content{

}

/* @media only screen and (min-width: 992px){
    .products-item-square{
        display: grid;
        grid-template-columns: 0.7fr repeat(2, 1fr);
        
    }
}
@media only screen and (min-width: 1200px){
    .products-item-square{
        display: grid;
        grid-template-columns: 0.7fr repeat(3, 1fr);
  
    }
}

@media only screen and (min-width: 2000px){
    .products-item-square{
        display: grid;
        grid-template-columns: 0.7fr repeat(3, 1fr);
  
    }
} */
.products-item-card{
    width: inherit;
    border: 1px solid rgba(0, 0, 0, 0.66);
        
}