@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap');
/* font-family: 'Nunito', sans-serif;; */

.productsPages{
    /* display: flex;
    justify-content: center; */
   
}

.productsPages-main{
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.products-item-container{
    width: 70%;
}

.products-item-img{
    height: 16rem;
    width: 18rem;
    object-fit: cover;
    border-radius: 4%;
    margin-bottom: 5px;
}

.products-item-square{
    display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.products-item-content{

}

/* @media only screen and (min-width: 992px){
    .products-item-square{
        display: grid;
        grid-template-columns: 0.7fr repeat(2, 1fr);
        
    }
}
@media only screen and (min-width: 1200px){
    .products-item-square{
        display: grid;
        grid-template-columns: 0.7fr repeat(3, 1fr);
  
    }
}

@media only screen and (min-width: 2000px){
    .products-item-square{
        display: grid;
        grid-template-columns: 0.7fr repeat(3, 1fr);
  
    }
} */

.products-item-card{
    width: 290px;  
    margin-bottom: 25px; 
    transition: all 0.3s ease; 
}

.products-item-card:hover{
    box-shadow:
   -9px -9px 22px 0px #fff9,
   -5px -5px 6px 0px #fff9,
   9px 9px 22px 0px #0002,
   5px 5px 6px 0px #0001;
   border-radius: 5%;
}

.productLink{
    text-decoration: none;
    
    
}

.productLink:visited {
    color: #87986a
}
.productLink:hover {
    color: #a7bb83
}

.productNameh2{
    font-family: 'Nunito', sans-serif;
    letter-spacing: -0.01rem;
    font-size: 1.3rem;
    color: black
}

.productsPrice {
    font-family: 'Nunito', sans-serif;
}

.products-item-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    
}







