@import url(https://fonts.googleapis.com/css?family=Oswald:400);

.logout-btn{
    background-color: transparent;
    border: none;
}

.fa-sign-out-alt{
    color: white;
    font-size: 1rem;
}

.fa-sign-out-alt:hover{

}