.search{
    margin-left: 10px;

}

.searchInputs {
    display: flex;
    
}



.search-bar-input{
    margin-left: 5px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.934);
    border-radius: 7px ;
    padding-left: 5px;
    border: none;
}


.fa-window-close{
    color: white;
}
.fa-window-close:hover{
    cursor: pointer;
    color: rgb(220, 219, 219);
}
.dataResult{
    position: absolute;
    width: 150px;
    background-color: whitesmoke;
    margin-left: 21px;

    
}